
@{
    ViewBag.Title = "Gioithieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Giới thiệu", "Gioithieu") | @Html.ActionLink("Thêm mới", "Create") |
    @Html.ActionLink("Danh sách", "Index") |  @Html.ActionLink("Tìm kiếm", "timkiem_mssv")
</p>
<h2>THÔNG TIN SINH VIÊN</h2>
<div>
    <table border="1" cellpadding="10" cellspacing="5">
        <tr>
            <td>Mã sinh viên</td>
            <td>[Mã sinh viên dự kiêm tra ...]</td>
        </tr>
        <tr>
            <td>Họ và tên</td>
            <td>[Họ và tên kiêm tra ...]</td>
        </tr>
        <tr>
            <td>Lớp</td>
            <td>...</td>
        </tr>
        <tr>
            <td>Ngày kiểm tra</td>
            <td>...</td>
        </tr>
    </table>
</div>
