
@{
    ViewBag.Title = "Error404";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example 404 Page - Google Chrome Style</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="error404">
        <a class="navbar-brand logo_h" href="index.html"><img src="~/Public/img/LOGO.png" alt=""></a>

        <h2>Không Tìm Thấy Trang</h2>

        <p>
            <a class="button primary" href="https://localhost:44381">« Home</a>
          
        </p>

        
    </div><!--End error404-->
</body>
</html>
