
@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<style>
    /* CSS để tùy chỉnh giao diện */
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    h1 {
        margin: 0;
    }

    .container {
        max-width: 960px;
        margin: 0 auto;
        padding: 20px;
    }

    p {
        line-height: 1.5;
    }
</style>
<body>
    <div class="container">
        <h2>Welcome to Aroma Shop</h2>
        <p>We offer a wide range of stylish fashion products for both men and women. With a variety of styles, colors and materials, we are confident that you will find your favorite items in our store.</p>
        <p>Explore our collection and create outfits that suit your personal style. Explore our collection and create outfits that suit your personal style. We are committed to bringing you high quality products at affordable prices.</p>
        <p>If you need advice or support, don't hesitate to contact our customer care team. We are here to help you.</p>
        <p>Thank you for visiting Aroma Shop</p>
    </div>
</body>
